receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        include_metadata: true
        endpoint: 0.0.0.0:4318


extensions:
  zpages:
    endpoint: 0.0.0.0:55679
# Configure exporters
exporters:
  otlphttp/loki:
    endpoint: http://loki:3100/otlp

  prometheus:
    endpoint: 0.0.0.0:8889

  debug:
    verbosity: detailed

  otlphttp/tempo:
    endpoint: http://tempo:4318
    tls:
      insecure: true

processors:
  batch:
  # example: how to populate attributes from header
  attributes/fromheaders:
    actions:
      - action: upsert
        key: user.id
        from_context: metadata.x-user-id

      - action: upsert
        key: node.id
        from_context: metadata.x-node-id

  # example: how to filter
  filter/drop_missing_ids:
    error_mode: ignore
    logs:
      log_record:
        - 'attributes["user.id"] == nil'
        - 'attributes["node.id"] == nil'

connectors:
  servicegraph:
    latency_histogram_buckets: [100ms, 250ms, 1s, 5s, 10s]
    virtual_node_peer_attributes:
      - server.address
    dimensions:
      - service.name
      - server.address
    store:
      ttl: 2m
      max_items: 20000

service:
  extensions: [zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/tempo, servicegraph]
    metrics/otlp:
      receivers: [otlp]
      processors: []
      exporters: [prometheus]
    metrics/servicegraph:
      receivers: [servicegraph]
      processors: []
      exporters: [prometheus]
    logs:
      receivers: [otlp]
      processors: []
      exporters: [debug, otlphttp/loki]
