version: "3.9"

services:
  hyperdx:
    image: docker.hyperdx.io/hyperdx/hyperdx-all-in-one:latest
    container_name: hyperdx
    restart: unless-stopped


    extra_hosts:
      - "ch-server:127.0.0.1"

    ports:
      - "8020:8080"
      - "4317:4317"
      - "4318:4318"

    environment:
      HYPERDX_DISABLE_INGEST_AUTH: "true"
      DISABLE_AUTH: "true"
      # === ВАЖНО: Mongo, а не SQLite ===
      MONGO_URL: "mongodb://127.0.0.1:27017/hyperdx"
      HYPERDX_LOG_LEVEL: "debug"

    labels:
      traefik.enable: "true"
      traefik.http.routers.hyperdx.rule: "Host(`hyperdx-fogbox-dev1.generation.one`)"
      traefik.http.routers.hyperdx.entrypoints: "websecure"
      traefik.http.routers.hyperdx.tls: "true"
      traefik.http.services.hyperdx.loadbalancer.server.port: "8080"